.p-sidebar {
  .product-info-header {
    position: fixed;
    top: 20px;
    font-weight: 600;
    font-size: 1.25rem;
  }
  .product-info-footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  .product-name {
    margin-bottom: 20px;
  }
}
.p-dialog {
  .product-name {
    margin-bottom: 20px;
  }
}
