.product-grid-item {
  margin: 0.5em;
  border: 1px solid var(--surface-border);
  .product-grid-item-content {
    text-align: center;
    img {
      width: 75%;
      margin: 2rem 0;
    }
    .product-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
